{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration - site{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('webapp/article/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                {{ include('webapp/article/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des articles</h4>
                        <p>Créer, Modifier ou supprimer des articles du site</p>
                        <div id="liste">
                            {{ include('webapp/article/include/_liste.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
