{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.onload = function(){
            ClassicEditor
                .create( document.querySelector( '#article_content' ), {

                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'underline',
                            'fontBackgroundColor',
                            'fontColor',
                            'fontSize',
                            'fontFamily',
                            '|',
                            'removeFormat',
                            'link',
                            'bulletedList',
                            'numberedList',
                            'sourceEditing',
                            '|',
                            'outdent',
                            'alignment',
                            'indent',
                            '|',
                            'imageUpload',
                            'blockQuote',
                            'insertTable',
                            'mediaEmbed',
                            'undo',
                            'redo',
                            'code',
                            'codeBlock',
                            'highlight',
                            'horizontalLine',
                            'imageInsert',
                            'pageBreak',
                            'specialCharacters'
                        ]
                    },
                    language: 'fr',
                    image: {
                        toolbar: [
                            'imageTextAlternative',
                            'imageStyle:inline',
                            'imageStyle:block',
                            'imageStyle:side',
                            'linkImage'
                        ]
                    },
                    table: {
                        contentToolbar: [
                            'tableColumn',
                            'tableRow',
                            'mergeTableCells',
                            'tableCellProperties',
                            'tableProperties'
                        ]
                    },
                    licenseKey: '',
                } )
                .then( editor => {
                    window.editor = editor;
                } )
                .catch( error => {
                    console.error( 'Oops, something went wrong!' );
                    console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                    console.warn( 'Build id: yjllw57wc9zk-mp9spyi3vipf' );
                    console.error( error );
                } );
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('webapp/article/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                {{ include('webapp/article/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                <div class="card">
                    <div class="card-header">
                        <h3>Créer une page</h3>
                    </div>
                    {{ include('webapp/article/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
