<div class="row g-1">
    {% for galerie in galeries %}
        <div class="col-4">
            <div class="card">
                <img src="{{ vich_uploader_asset(galerie)|imagine_filter('eventgal_publish') }}" alt="{{ galerie.alt }}" class="card-img-top" >
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p class="text-start">
                                {{ galerie.name }}
                            </p>
                            <p class="text-end">
                                <a href="{{ path('op_gestapp_eventgal_supprimg', {'id': galerie.id}) }}" class="supprimg text-danger "><i class="bi bi-x-square"></i></a>
                            </p>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
    {% endfor %}
</div>

