{% extends 'base.html.twig' %}

{% block title %}Edit Parrainage{% endblock %}

{% block body %}
    <h1>Edit Parrainage</h1>

    {{ include('admin_parrainage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_parrainage_index') }}">back to list</a>

    {{ include('admin_parrainage/_delete_form.html.twig') }}
{% endblock %}
