{% extends 'admin.html.twig' %}

{% block title %}Parrainage index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Fonction d'appel du controller firstMeeting
            function onClickFirstMeeting(event){
                event.preventDefault();
                const url = this.href;
                axios
                    .post(url)
                    .then(function(response){
                        // Rechargement de la liste
                        const liste = document.getElementById('Liste').innerHTML = response.data.liste;
                        // Ouverture du toast
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch()
            }

            //fonction d'appel du controller secondMeeting
            function onClickSecondMeeting(event){
                event.preventDefault();
                const url = this.href;
                axios
                    .post(url)
                    .then(function(response){
                        // Rechargement de la liste
                        const liste = document.getElementById('Liste').innerHTML = response.data.liste;
                        // Ouverture du toast
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch()
            }

            //fonction d'appel du controller secondMeeting
            function onClickIsCotisation(event){
                event.preventDefault();
                const url = this.href;
                const icone = this.querySelector('i');
                axios
                    .post(url)
                    .then(function(response){
                        // Rechargement de l'icone
                        if(icone.classList.contains('fa-check-circle')) {
                            icone.classList.replace('fa-check-circle', 'fa-times-circle');
                            icone.classList.replace('text-success', 'text-danger');
                        }
                        else {
                            icone.classList.replace('fa-times-circle', 'fa-check-circle');
                            icone.classList.replace('text-danger', 'text-success');
                        };
                        // Ouverture du toast
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch()
            }

            // Création de l'évènement sur le bouton js-firstmeeting
            document.querySelectorAll('a.js-firstmeeting').forEach(function (link){
                link.addEventListener('click', onClickFirstMeeting);
            })

            // Création de l'évènement sur le bouton js-firstmeeting
            document.querySelectorAll('a.js-secondmeeting').forEach(function (link){
                link.addEventListener('click', onClickSecondMeeting);
            })

            // Création de l'évènement sur le bouton js-firstmeeting
            document.querySelectorAll('a.js-verified').forEach(function (link){
                link.addEventListener('click', onClickIsCotisation);
            })
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class="op_admin_content_body">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-body">
                        <div id="Liste">
                            {{ include('admin/parrainage/include/_liste.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
