{% extends 'admin.html.twig' %}

{% block title %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // mise en place du datapicker flatpickr sur les champs de date
            flatpickr(".flatpickr", {
                "locale": "fr",
                enableTime: true,
                altFormat: "j F Y",
                dateFormat: "d/m/Y",
            });
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Edit annonce</h1>

    {{ include('admin/annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('op_admin_annonce_index') }}">retour</a>

    {{ include('admin/annonce/_delete_form.html.twig') }}
{% endblock %}
