<h1 style="">JUST à FAIRE</h1>
<p><b>Nouvelle demande d'adhésion.</b></p>
<hr>
<p><strong>Votre demande a été transmise à l'équipe du réseau JUST à FAIRE.</strong></p>
<p>
    L'équipe va prochainement vous contacter. elle vous transmettra votre identifiant et votre mot de passe.<br>
    A votre première connexion, nous vous invitons à changer le mot de passe fourni pour un nouveau. <br>
    Vous pouvez réaliser cette opération, une fois connecté, dans la partie supérieur droite, en cliquant sur votre nom puis "mon profil".
</p>
<p>A très bientôt dans le réseau JUST à FAIRE.</p>
