
<h1 style="">JUST à FAIRE</h1>
<p><b>Une nouvelle recommandation vient d'être echangée entre 2 membres.</b></p>
<hr>
<p>Elle a été envoyée par le membre suivant : <b>{{ author }}</b> et elle s'adresse au membre : {{ nomDestin }} {{ prenomDestin }}<b></b></p>
<p>L'objet de le recommandation: "{{ titleRecom }}"</p>